  body{
       margin:0;
       background-image:url("https://www.flickr.com/photos/135303216@N03/32572423264/in/album-72157681365720305/");
       }
   ul { 
       list-style-type: none;
       margin:  0;
       padding:  0;
       position:  fixed;
       top: 0;
       width: 100%;
       background-image:url("https://www.flickr.com/photos/135303216@N03/33374741376/in/album-72157681365720305/");
       }

   li{
       float:right;
       display: block;
       padding: 10px 30px;
       text-align: center;
       background-color:#FFFFFF;
       }

li:hover:not(.active){
       color:yellow;
       }

.active{
       background-color:black;
       color:white;
       }

   .ww{
       padding: 50px;
       margin-top:10px;
       width:40%;
       height:150px;
       }

   .box{
       border: 2px solid;
       width:30%;
       position: relative;
       left: 700px;
       text-align:center;
       }
