  *{
    box-sizing:border-box;
  }

  

  @keyframes wave{
    from{
    transform: rotate(0deg);
    }
    to{
    transform: rotate(360deg);
    }
  }
  @-webkit-keyframes wave{
    from{
    transform: rotate(0deg);
    }
    to{
    transform: rotate(360deg);
    }
  }

div #one{
 background-color: rgba(102,102,102,0.3);
      width:600px;
      height:1600px;
}


div #two{
 background-color: rgba(0,255,204,0.3);
      width:700px;
      height:110px;
}


div #three{
 background-color: rgba(0,255,204,0.3);
      width:800px;
      height:800px;
} 
div.waterwave{
      position:absolute;
      top:70%;
      left:-30%;
      border-radius:40%;


      animation-name: wave;
      animation-duration:8s;
      animation-iteration-count:infinite;
      animation-timing-function:linear;
     -webkit- animation-name: wave;
     -webkit- animation-duration:8s;
     -webkit- animation-iteration-count:infinite;
     -webkit- animation-timing-function:linear;
  }
  
  
  body{
       margin:0;
       background-image:url("back.jpg");
       font-family: Microsoft JhengHei;
       size:1440pt,990pt;
       overflow:hidden;
       }

     ul { 
       list-style-type: none;
       margin:  0;
       padding:  0;
       position:  fixed;
       top: 0;
       width: 100%;
       height:80px;
       background-color:rgba(93,93,93,0.46);
       box-shadow:0 3px 10px #4d4d4d;
       }

  li a{
       font-size:18px;
       float:right;
       display: block;
       height:80px;
       text-decoration:none;
       padding: 14px 40px;
       text-align: center;
       color:#FFFFFF;
       }

li a:hover:not(.active){
       background-color:#000066;
       color:#ccff66;
       }

.active{
       color:black;
       }


   .box{
       width:22%;
       height:300px;
       position:absolute;
       right:8%;
       top:300px;
       background-color:rgba(0,0,0,0.4);
       text-align:center;
       border-radius:25px;
       }
   
  .box h2{
      top:5%;
      color:#ffffff;
      font-size:22px;
      font-weight:bold;
      font-style:italic;
      }

   input{
     font-size:14px;
     width:90%;
     padding:10px;
     margin:13px;
     box-shadow:0 5px 8px,0 -5px 8px,5px 0 8px,-5px 0 8px;
      }
   
   input[type="text"]{
     font color:#ffffff;
     font-weight:bold;
     background-color:#8c8c8c;
     border:2px solid #ffffff;
     border-radius:20px;
   }
 
   input[type="submit"]{
     color:#000000;
     border:none;
     border-radius:20px;
     background-color:#ffffb3;
   }
 
