  *{
    box-sizing:border-box;
  }

  body{
       margin:0;
       background-image:url("back.jpg");
       size:1440pt,990pt;
       }

     ul { 
       list-style-type: none;
       margin:  0;
       padding:  0;
       position:  fixed;
       top: 0;
       width: 100%;
       background-color:#5D5D5D; 
       opacity:0.46;
       }

   li{
       float:right;
       display: block;
       padding: 10px 30px;
       text-align: center;
       color:#FFFFFF;
       }

li:hover:not(.active){
       background-color:#000066;
       color:#ccff66;
       }

.active{
       color:black;
       }


   .box{
       width:20%;
       height:270px;
       position:absolute;
       right:10%;
       top:250px;
       background-color:#002233;
       opacity:0.5;
       text-align:center;
       border-radius:25px;
       }
   
  .box h2{
      color:#ffffff;
      font-size:20px;
      font-style:italic;
      }

   input{
     width:90%;
     padding:12px;
     margin:15px;
     box-shadow:5px 5px 3px;
      }
   
   input[type="text"]{
     background-color:#000000;
     border:2px solid #ffffff;
     border-radius:20px;
   }
 
   input[type="submit"]{
     border:none;
     border-radius:20px;
     background-color:#ffff99;
   }
 
